polkit.addRule(function(action, subject) {
    if (subject.user == "sjr") {
            return polkit.Result.YES;
    } else {
            return polkit.Result.NO;
    }
});